@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@100;200;300;400;500;700&display=swap");

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/xScx-purple-theme-background.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-family: "Readex Pro", sans-serif;
}


.signup {   
    width: 360px;
    border-radius: 10px;
    padding: 5px 40px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 25px;
    font-weight: 700;
}

p{
    font-size: 15px;
    font-weight: 500;
}

#close {
    text-align: end !important;
}

.signup form {
    display: flex;
    flex-direction: column;
}

.signup input {
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid gray;
    text-transform: lowercase;
}

.signup input[type="text"]:focus,
input[type="password"]:focus {
    border: none;
    outline: 1px solid rgb(255, 64, 153);
}

hr {
    height: 2px;
    border: none;
    background: gray;
}

.check {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup input[type="submit"] {
    background: linear-gradient(45deg, rgb(185, 48, 254), rgb(255, 64, 153));
    border: 2px white solid;
    border-radius: 30px;
    padding: 12px 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 15px;
}

.signup input[type="submit"]:hover {
    color: black;
    border: 2px solid black;
}

.photos {
    width: 100%;
    display: flex;
}

.photos img{
    width: 95%;
}
